body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #ecf0f1; /* Set your desired background color */
}

.donate-button {
  background-color: #3498db; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
  padding: 10px 20px; /* Set your desired padding */
  border: none;
  border-radius: 5px; /* Set your desired border radius */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.donate-button:hover {
  background-color: #2980b9; /* Set your desired hover color */
}
